/* 字体定义规范 */
$font_samll:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large:18px;
/* 背景颜色规范(主要) */
$background-color-default: #fefefe;
$background-color-light: #fefefe;
$background-color-dark: #36363a;
/* 背景颜色规范(次要) */ 
$background-color-sub-default: #f5f5f5;
$background-color-sub-light: rgba(230,230,230,.5);
$background-color-sub-dark: rgba(255,255,255,.1);
/* 背景颜色规范(激活)*/
$background-color-active-default: rgba(99, 99, 99, 0.1);
$background-color-active-light: rgba(99, 99, 99, 0.1);
$background-color-active-dark: rgba(255, 255, 255, 0.1);
/* 字体颜色规范(默认) */
$font-color-default : #ffffff;
$font-color-light : #323638;
$font-color-dark : #f2f2f2;
/* 字体颜色规范(激活) */
$font-active-color-default : #1677ff;
$font-active-color-light : #1677ff;
$font-active-color-dark : #fefefe;
/* 边框颜色 */
$border-color-default : rgba(99, 99, 99, 0.15);
$border-color-light : rgba(99, 99, 99, 0.15);
$border-color-dark : rgb(229, 231, 235, .15);
/* 字体图标颜色 */
$icon-color-default : #ffffff;
$icon-color-light : #323639;
$icon-color-dark : #f2f2f2;
