/* 字体定义规范 */
$font_samll:12Px;
$font_medium_s:14Px;
$font_medium:16Px;
$font_large:18Px;
/* 背景颜色规范(主要) */
$background-color-default: #d43c33;//背景主题颜色默认(网易红)
$background-color-light: #fefefe;//背景主题颜色1(QQ绿)
$background-color-dark: #36363a;//背景主题颜色2(夜间模式)
/* 背景颜色规范(次要) */ 
$background-color-sub-default: #f5f5f5;//背景主题颜色默认(网易红)
$background-color-sub-light: #fefefe;//背景主题颜色1(QQ绿)
$background-color-sub-dark: #444;//背景主题颜色2(夜间模式)
/* 字体颜色规范(默认) */
$font-color-default : #666;//字体主题颜色默认(网易)
$font-color-light : #666;//字体主题颜色1(QQ)
$font-color-dark : #ddd;//字体主题颜色2(夜间模式)
/* 字体颜色规范(激活) */
$font-active-color-default : #d43c33;//字体主题颜色默认(网易红)
$font-active-color-light : #42b983;//字体主题颜色1(QQ绿)
$font-active-color-dark : #ffcc33;//字体主题颜色2(夜间模式)
/* 边框颜色 */
$border-color-default : #d43c33;//边框主题颜色默认(网易)
$border-color-light : #f5f5f5;//边框主题颜色1(QQ)
$border-color-dark : #ffcc33;//边框主题颜色2(夜间模式)
/* 字体图标颜色 */
$icon-color-default : #ffffff;//边框主题颜色默认(网易)
$icon-color-light : #ffffff;//边框主题颜色1(QQ)
$icon-color-dark : #ffcc2f;//边框主题颜色2(夜间模式)
$icon-theme : #d43c33;//边框主题颜色默认(网易)
$icon-light : #42b983;//边框主题颜色1(QQ)
$icon-dark : #ffcc2f;//边框主题颜色2(夜间模式)