@use '@/styles/mixins'as *;

.menu {
  box-sizing: border-box;
  width: 100%;
}
.project {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  &_logo {
    margin-right: 12px;
    width: 32px;
    height: 27px;
  }
  &_text {
    @include font_color();
    font-size: 18px;
    font-weight: 600;
  }
}
:global(.ant-menu-inline-collapsed, .ant-menu-submenu) {
  &:hover {
    font-size: 24px;
  }
}