@use '@/styles/mixins' as *;
.layout {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  @include font_color();
  &_aside {
    overflow: auto;
    width: 200px;
    height: 100vh;
    max-width: 100vh;
    border-right: 1px solid;
    @include border_color();
    @include bg_color();
    &_bottom {
      box-sizing: border-box;
      position: fixed;
      bottom: 30px;
      left: 30px;
    }
    &_bottom_item {
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      border-radius: 5px;
      @include bg_sub_color();
      cursor: pointer;
    }
  }
  &_main {
    flex: 1;
    overflow: auto;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    @include bg_color();
  }
  &_header {
    position: fixed;
    top: 0;
    height: 60px;
    border-bottom: 1px solid;
    @include border_color();
    @include bg_color();
  }
  &_content {
    margin-top: 60px;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
  }
}